.contact-section {
  text-align: center;
  padding: 2rem 1rem;
  background-color: transparent;

  h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }

  .contact-button {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    background-color: #5000ca;
    color: #ffffff;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 500;
    
    &:hover {
      background-color: #5100ca91;
    }
  }
}

// Tema claro com base na classe .light-mode
.light-mode {
  .contact-section {
    background-color: #f8f9fa;

    h2,
    p {
      color: #0d1116;
    }

    .contact-button {
      background-color: #5000ca;
      color: #ffffff;

      &:hover {
        background-color: #5100ca91;
      }
    }
  }

}
